SocialGameWebsite/SocialGameWebsite/Service References/SocialGameBLLService/SocialGameBLLService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SocialGameBLL.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SocialGameBLL.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wvm008.dei.isep.ipp.pt:8000/SocialGameBLLService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacebookProfile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HumourStatusId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InterestsIDs" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="LinkedInProfile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="HumourStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HumourStatus" nillable="true" type="tns:HumourStatus" />
  <xs:complexType name="ArrayOfHumourStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HumourStatus" nillable="true" type="tns:HumourStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHumourStatus" nillable="true" type="tns:ArrayOfHumourStatus" />
  <xs:complexType name="ArrayOfRelationshipTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationshipTag" nillable="true" type="tns:RelationshipTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationshipTag" nillable="true" type="tns:ArrayOfRelationshipTag" />
  <xs:complexType name="RelationshipTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationshipTag" nillable="true" type="tns:RelationshipTag" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Relationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="RelationshipTagId" type="xs:int" />
      <xs:element minOccurs="0" name="Strength" type="xs:int" />
      <xs:element minOccurs="0" name="UserAEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserBEmail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relationship" nillable="true" type="tns:Relationship" />
  <xs:complexType name="Graph">
    <xs:sequence>
      <xs:element minOccurs="0" name="HumourStatus" nillable="true" type="tns:ArrayOfHumourStatus" />
      <xs:element minOccurs="0" name="Interests" nillable="true" type="tns:ArrayOfInterest" />
      <xs:element minOccurs="0" name="RelationshipTags" nillable="true" type="tns:ArrayOfRelationshipTag" />
      <xs:element minOccurs="0" name="Relationships" nillable="true" type="tns:ArrayOfRelationship" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Graph" nillable="true" type="tns:Graph" />
  <xs:complexType name="ArrayOfInterest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Interest" nillable="true" type="tns:Interest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterest" nillable="true" type="tns:ArrayOfInterest" />
  <xs:complexType name="Interest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Interest" nillable="true" type="tns:Interest" />
  <xs:complexType name="ArrayOfRelationship">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relationship" nillable="true" type="tns:Relationship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationship" nillable="true" type="tns:ArrayOfRelationship" />
  <xs:complexType name="RelationshipRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RelationshipTagId" type="xs:int" />
      <xs:element minOccurs="0" name="RequestedEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequesterEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Strength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelationshipRequest" nillable="true" type="tns:RelationshipRequest" />
  <xs:complexType name="ArrayOfRelationshipRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationshipRequest" nillable="true" type="tns:RelationshipRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelationshipRequest" nillable="true" type="tns:ArrayOfRelationshipRequest" />
  <xs:complexType name="NetworkStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="RelationshipStrenghtAverage" type="xs:double" />
      <xs:element minOccurs="0" name="UserCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NetworkStatistics" nillable="true" type="tns:NetworkStatistics" />
  <xs:complexType name="ArrayOfUserScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserScore" nillable="true" type="tns:UserScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserScore" nillable="true" type="tns:ArrayOfUserScore" />
  <xs:complexType name="UserScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLevel" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPoints" type="xs:float" />
      <xs:element minOccurs="0" name="UserSurname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserScore" nillable="true" type="tns:UserScore" />
  <xs:complexType name="ArrayOfUserNetworkSizeScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserNetworkSizeScore" nillable="true" type="tns:UserNetworkSizeScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserNetworkSizeScore" nillable="true" type="tns:ArrayOfUserNetworkSizeScore" />
  <xs:complexType name="UserNetworkSizeScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNetworkSize" type="xs:int" />
      <xs:element minOccurs="0" name="UserSurname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNetworkSizeScore" nillable="true" type="tns:UserNetworkSizeScore" />
  <xs:complexType name="ArrayOfUserNetworkStrengthScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserNetworkStrengthScore" nillable="true" type="tns:UserNetworkStrengthScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserNetworkStrengthScore" nillable="true" type="tns:ArrayOfUserNetworkStrengthScore" />
  <xs:complexType name="UserNetworkStrengthScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNetworkStrength" type="xs:double" />
      <xs:element minOccurs="0" name="UserSurname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNetworkStrengthScore" nillable="true" type="tns:UserNetworkStrengthScore" />
</xs:schema>